* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
}

body {
  background: rgb(255, 255, 255);
  color: #656f79;
  display: flex;
  flex-direction: column;
}

#cabecalho {
  width: 100%;
  max-width: 100vw;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background: white;
  font-weight: 600;
  border-bottom: 1px solid rgb(207, 207, 207);
  overflow: hidden;
  position: fixed;
  z-index: 10;
}

#imagem-logo {
  width: 120px;
  height: 110px;
}

#imagem-logo:hover {
  cursor: pointer;
}

#menu-itens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.item {
  border-radius: 20px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
}

.item:hover {
  cursor: pointer;
  background: rgb(230, 229, 229);
  transition: 0.5s;
}

#adr {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 24px;
  color: black;
}

#adr:hover {
  cursor: pointer;
  border: 1px solid rgb(24, 24, 24);
  transition: 0.3s;
}

#upl {
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid #00ab6b;
  border-radius: 24px;
  color: white;
  background: #00ab6b;
  display: flex;
  align-items: baseline;
  gap: 5px;
}

#upl:hover {
  cursor: pointer;
  background: #19c485;
  border: 1px solid #19c485;
  transition: 0.3s;
}

#pesquisa {
  background-image: url(/contents/imgs/pexels-riccardo-789380.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 80vh;
  overflow: hidden;
}

#tudo {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
}

#msg {
  font-size: 32px;
  font-weight: 800;
  line-height: 58px;
  text-align: left;
}

#frase {
  font-size: 14px;
  line-height: 42px;
}

#camp-psq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 56px;
  background: white;
  color: #656f79;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  width: 60vw;
  overflow: hidden;
}

#busc {
  display: flex;
  justify-content: baseline;
  align-items: center;
  border: none;
  gap: 5px;
}

#busc img {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

#busc img:hover {
  background: rgb(245, 244, 244);
  border-radius: 25px;
}

#psq {
  background-color: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  width: 600px;
}

#all-imgs {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  cursor: pointer;
}

#all-imgs:hover {
  background: rgb(245, 244, 244);
  border-radius: 25px;
}

#recomendados {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 50px;
}

#recomendados a {
  color: white;
  text-decoration: none;
}

.info-ad {
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 40px;
}

.info-ad a {
  color: white;
}

#principal {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  height: 560px;
}

#principal-itens {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#bttn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

#edt {
  margin-left: 40px;
  padding: 5px;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 24px;
  color: black;
}

#edt:hover {
  cursor: pointer;
  border: 1px solid rgb(24, 24, 24);
  transition: 0.3s;
}

#imgs {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#imgs img {
  width: 280px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 20px;
}

#nxt {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 24px;
  top: 345%;
  height: 292px;
  background: linear-gradient(180deg, hsla(0, 2%, 73%, 0.719), #fff);
}

#bttn-nxt {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 16px;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 24px;
  color: black;
  margin-bottom: 150px;
}

#bttn-nxt:hover {
  cursor: pointer;
  border: 1px solid rgb(24, 24, 24);
  transition: 0.3s;
}

#container {
  z-index: 5;
  margin-top: 105vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-top: solid 1px rgb(202, 201, 201);
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: solid 1px rgb(212, 210, 210);
}

#cta {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 50px;
  font-size: 20px;
  font-weight: 900;
  gap: 15px;
  color: black;
}

#cta i {
  color: rgb(73, 167, 73);
  background: rgb(178, 223, 172);
  padding: 10px;
  border-radius: 100%;
}

#cta2 {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  font-size: 14px;
  padding-left: 60px;
  line-height: 18px;
}

#sbm {
  padding-left: 50px;
  padding-top: 20px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #00ab6b;
}

#rodape {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 45px;
  margin-bottom: 45px;
  padding-left: 50px;
  gap: 30px;
}

#c1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  line-height: 35px;
}

#c1 img {
  width: 120px;
}

#c1 i:hover {
  color: #19c485;
  cursor: pointer;
}

#cat {
  display: flex;
  gap: 30px;
}

#cat p {
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#cat li {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 15px;
}

#fim {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ecebeb;
  border-top: #c7c7c7 solid 1px;
  border-bottom: #c7c7c7 solid 1px;
}
