* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
}

body {
  background: rgb(255, 255, 255);
  color: #656f79;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

#cabecalho {
  width: 100vw;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background: white;
  font-weight: 600;
  border-bottom: 1px solid rgb(207, 207, 207);
}

#imagem-logo {
  width: 120px;
  height: 110px;
}

#imagem-logo:hover {
  cursor: pointer;
}

#menu-itens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.item {
  border-radius: 20px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
}

.item:hover {
  cursor: pointer;

  background: rgb(230, 229, 229);

  transition: 0.5s;
}

#adr {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 24px;
  color: black;
}

#adr:hover {
  cursor: pointer;
  border: 1px solid rgb(24, 24, 24);
  transition: 0.3s;
}

#upl {
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid #00ab6b;
  border-radius: 24px;
  color: white;
  background: #00ab6b;
  display: flex;
  align-items: baseline;
  gap: 5px;
}

#upl:hover {
  cursor: pointer;
  background: #19c485;
  border: 1px solid #19c485;
  transition: 0.3s;
}

#pesquisa {
  background-image: url(/contents/imgs/pexels-riccardo-789380.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 80vh;
}

#tudo {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
}

#msg {
  font-size: 32px;
  font-weight: 800;
  line-height: 58px;
  text-align: left;
}

#frase {
  font-size: 14px;
  line-height: 42px;
}

#camp-psq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 56px;
  background: white;
  color: #656f79;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  width: 60vw;
}

#busc {
  display: flex;
  justify-content: baseline;
  align-items: center;
  border: none;
  gap: 5px;
}

#busc img {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

#busc img:hover {
  background: rgb(245, 244, 244);
  border-radius: 25px;
}

#psq {
  background-color: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  width: 300px;
}

#all-imgs {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  cursor: pointer;
}

#all-imgs:hover {
  background: rgb(245, 244, 244);
  border-radius: 25px;
}

#recomendados {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 50px;
}

#recomendados a {
  color: white;
  text-decoration: none;
}

.info-ad {
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 40px;
}

.info-ad a {
  color: white;
}

#principal-itens {
  display: flex;
}

#caixa {
  display: flex;
}
